name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [ 16, 18 ]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    - name: Install and build
      run: |
        npm install
        npm run build
    - name: Run tests
      run: npm run test
